---
import{ Code } from '@lucide/astro';
import Blob from '../assets/blob.svg';
---
<section class="text-center py-16 mt-24 mb-60 relative justify-center items-center">
    <span class="absolute -z-10 -top-2/5 right-1/4">  <Blob  width={900} height={900} /></span>
    <h1 class="text-4xl font-bold p-0 m-0"> <p class="-rotate-2 opacity-90"> Galería de 🎨</p> <br> <p class="text-8xl">Plantillas Web</p> </h1>
    <p class="mt-4 text-gray-500"> <Code class='m-auto w-8 h-8 text-black'/> HTML, React, Tailwind y más</p>
    <br/>
    <a 
    href="#galeria"
    class=" bg-blue-800 mt-4 p-4 text-blue-50 rounded-lg text-lg font-semibold hover:bg-blue-700 transition-colors duration-300 ease-in-out active:scale-90 shadow-lg shadow-blue-500/50 hover:shadow-blue-500/30">
    Ver Galería
</a>
</section>
