---
import { History  ,Images, BookUser   } from '@lucide/astro';
---
<nav class="flex justify-between items-center p-4 sticky top-0 bg-white shadow-md z-10">
    <div class="text-3xl font-bold ">
        DevTemplates
    </div>
    <ul class="flex gap-6 justify-between items-center">
        <a href="#Destacado">
            <History class="w-8 h-8 hover:scale-110 ease-in-out transition-discrete duration-300 cursor-pointer" />
        </a>
        <Images class="w-8 h-8 hover:scale-110 ease-in-out transition-discrete duration-300 cursor-pointer" />
        <BookUser class="w-8 h-8 hover:scale-110 ease-in-out transition-discrete duration-300 cursor-pointer" />
    </ul>
</nav>
